<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.mts.analytics.plugin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
     If targetSdk >= 33
     https://developers.google.com/android/reference/com/google/android/gms/ads/identifier/AdvertisingIdClient.Info#public-string-getid
     -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove"
        />
    
</manifest>
